.main {
  text-align: center;

  section {
    margin: 1rem 0;
  }

  button {
    padding: 0.25rem 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.15rem;
    cursor: pointer;
  }

  input {
    width: 5rem;
    padding: 0.15rem;
    margin-left: 1rem;
    font-size: 1.15rem;
  }
}
