.heading {
  text-align: center;
}

.stepper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.step {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
  background-color: #ccc;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.step.active .step-number {
  color: white;
  background-color: rgb(71, 71, 247);
}

.step.complete .step-number {
  color: white;
  background-color: rgb(30, 196, 30);
}

.btn {
  margin-top: 10px;
  cursor: pointer;
}

.progress-container {
  position: absolute;
  top: 15px;
  width: 100%;
  height: 4px;
  background-color: grey;
}

.progress-bar {
  height: 100%;
  background-color: green;
  transition: all 0.2s ease;
}

.action-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.action-container div {
  font-size: 20px;
  font-weight: 600;
}

.action-container .btn {
  height: 40px;
  padding: 10px;
  margin: 10px 50px;
  font-size: 20px;
  cursor: pointer;
  background: none;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
}
button:disabled {
  cursor: not-allowed !important;
}
