@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque', sans-serif;
}

body{
    background-color: rgb(20, 200, 231);
}

.q-box{
    background-color: white;
    width: 780px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0 gray;
}

.q-box h2{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

.q-box h2::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(20, 200, 231);
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
}
.q-box blockquote{
    font-size: 40px;
    min-height: 110px;
    font-size: 30px;
}
.q-box blockquote::before, .q-box blockquote::after{
    content: '"';
}

.q-box span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

.q-box span::before{
    content: '';
    width: 10px;
    height: 2px;
    background-color: gray;
    position: absolute;
    left: -30px;
    top: 50%;
}

.q-box div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.q-box button{
    background-color: blue;
    border-radius: 25px;
    border: 1px solid blue;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
}

.q-box button img{
    width: 30px;
    margin-right: 10px;
}

.q-box button:nth-child(2){
    background: transparent;
    color: black;
}

/* responsive */
@media screen and (width < 820px){
    .q-box{
        width: 629px;
    }
}
@media screen and (width < 660px){
    .q-box{
        width: 467px;
    }
}
@media screen and (width < 480px){
    .q-box{
        width: 320px;
    }
}