.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.figure {
  margin: 0;

  .heroImage {
    width: min(80vh, 80vw);
  }
}

.link a {
  display: inline-block;
  padding: 1rem;
  margin: 0.5rem 0;
  font-weight: 400;
  color: white;
  background-color: rgba(31, 6, 255, 68.7%);
  border-radius: 8px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 12%);
}

@media screen and (width >= 768px) {
  .hero {
    flex-direction: row;
    text-align: left;
  }

  .figure .heroImage {
    width: min(60vh, 60vw);
  }
}
