html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

.star-container {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  flex-wrap: wrap;
}

.star-empty::before {
  content: "☆";
}

.star-filled::before {
  color: rgba(231, 198, 10, 0.685);
  content: "★";
  cursor: pointer;
}

.info {
  margin: 2rem;
}

.smiley-container {
  font-size: 6rem;
}