.filterOptionWrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.searchInputWrapper {
  position: relative;
  height: 35px;
  .searchInput {
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 100%;
    padding-left: 1.8rem;
    height: 100%;
  }
  .searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    opacity: 0.7;
    transition: all 0.2s ease;
  }
  .searchInput:focus, .searchInput:hover {
    border-color: var(--text-link);
    & + .searchIcon {
      opacity: 1;
    }
  }
}

.filterByTechWrapper {
  grid-column-end: -1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  & > a {
    display: inline-block;
    width: 35px;
    height: 35px;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 4px;

    &:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.34);
    }
  }
  & > a > img {
    padding: 2px;
    border-radius: 4px;
    &.activeTech {
      border: 2px solid var(--text-link);
    }
  }
}

.emptyMessage {
  margin: 5rem auto;
  font-size: 18px;
  font-weight: 500;

  > div {
    margin-top: 0.5rem;
    font-size: 14px;
    font-weight: 400;
  }
}

.challengeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.5rem;
  margin: 2rem 0;
}

.challengeCard {
  position: relative;
  padding: 10px;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgb(0 0 0 / 15%);
  box-shadow: 0 6px 8px 0 rgb(0 0 0 / 15%);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 6px 8px 0 rgb(0 0 0 / 30%);
    transform: scale(1.05);
  }

  .avatarContainer > *:not(:first-child) {
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: green;
  }

  &.disabled h3 {
    color: grey;
  }

  &.disabled {
    cursor: not-allowed;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
  }

  &.disabled:hover {
    transform: scale(1);
  }

  a {
    color: chocolate;
    text-decoration: none;
  }

  .new {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    font-size: 1rem;
    color: white;
    text-align: center;
    background-color: rgb(84 84 84);
  }

  .developer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: black;

    & > img {
      width: 25px;
      height: 25px;
      margin-right: 0.5rem;
      border-radius: 50%;
    }
  }

  .name {
    color: black;
  }

  &.medium h3 {
    color: rgb(75 75 255);
  }

  &.hard h3 {
    color: orangered;
  }
}
