.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 400px;
  margin: 0 auto;
  transition: all 0.3s;
}

.menu {
  text-align: center;
  margin-top: 20px;
}

.menu > button {
  margin: 0 1rem;
}
