.AppContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.trafficWrapper {
  display: flex;
  flex-direction: column;
  background: black;
  width: 150px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  padding: 20px;
  gap: 10px;
}
.light {
  background: gray;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.countdownContainer {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.countdownTime {
  font-size: 18px;
  font-weight: bold;
}
@keyframes countdownPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.countdownTime.active {
  animation: countdownPulse 1s infinite;
}
