.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.itemBtn {
  background-color: white;
  border-radius: 5px;
  padding: 10px 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid grey;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  font-size: medium;
}

.reset {
  background-color: blue;
  color: white;
  padding: 0.5rem 1rem;
}

.center {
  text-align: center;
}

.highlight {
  background-color: lightblue;
}

.success {
  background-color: lightgreen;
}

.failure {
  background-color: lightcoral;
}

[data-status] button {
  cursor: not-allowed;
}
