@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

.container {
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.btn.btn-primary {
  background-color: #5affd8;
  padding: 10px 16px;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary.small {
  padding: 4px 6px;
}

button:disabled, button.btn:disabled {
  cursor: not-allowed;
}