@import url(../../helpers/core.css);

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.row {
  display: flex;
}

.box {
  width: 60px;
  height: 60px;
  outline: 1px solid grey;
}
