@import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap';

html {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
  color: var(--text-body);
}

a {
  color: var(--text-link);
  text-decoration: none;
}

button {
  cursor: pointer;
}

input:disabled,
button:disabled {
  cursor: not-allowed;
}

h1 {
  align-items: center;
  justify-content: center;
}
