#dark-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  background: #e5e7eb;
  border: none;
  border-radius: 1000px;
  transition: background-color 150ms ease-in-out;
}

#dark-toggle > svg {
  width: 1.5rem;
  height: 1.5rem;
}

#dark-toggle > svg.light-mode-icon {
  display: none;
}

#dark-toggle > svg.dark-mode-icon {
  display: block;
}

/* In dark mode */

.dark #dark-toggle {
  background: #374151;
}

.dark #dark-toggle > svg.light-mode-icon {
  display: block;
}

.dark #dark-toggle > svg.dark-mode-icon {
  display: none;
}
