:root {
  /* Default body colors */
  --bg-body: #f3f4f6;
  --text-body: #111827;

  --bg-navbar: #ffffff;
  --shadow-navbar: rgba(0 0 0 / 0.1);
  --bg-navbar-logo-img: transparent;

  /* Footer-specific colors */
  --bg-footer: #f9fafb;
  --shadow-footer: rgba(0 0 0 / 0.1);

  /* Links */
  --text-link: blue;

  /* Challenge Card */
  --card-body: #ffffff;
  --card-shadow: rgb(226, 226, 226);
  --card-shadow-hover: rgba(0, 0, 0, 0.3);
  --card-border: rgb(250, 250, 250);
  --difficulty-color: '';
}

/* Dark override for above variables */

[data-theme='dark'] {
  /* Default body colors */
  --bg-body: #030712;
  --text-body: #e5e7eb;

  --bg-navbar: #030712;
  --shadow-navbar: rgba(150 150 150 / 0.2);

  /* Footer-specific colors (same as navbar) */
  --bg-footer: var(--bg-body);
  --shadow-footer: #1f2937;

  /* Links */
  --text-link: #6366f1;

  /* Challenge Card */
  --card-body: #000000;
  --card-shadow: rgb(51, 51, 51);
  --card-shadow-hover: rgba(255, 255, 255, 0.2);
  --card-border: rgb(70, 70, 70);

  color-scheme: dark;
}
