.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border-width: 0;
  clip: rect(0, 0, 0, 0);
}
