@import url(../../helpers/core.css);

.transfer-list {
  width: 100%;
}

section {
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  align-items: flex-start;
  padding: 1rem;
  border: 1px solid grey;
}

.controls {
  align-items: center;
  max-width: 5rem;
}

input {
  margin-right: 1rem;
}
