* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: aqua;
}
#panel {
  overflow: hidden;
  width: 90%;
  height: 90%;
  border-radius: 2%;
  background-color: #fff;
}
#ptop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 20% 0 20%;
  width: 100%;
  height: 12%;
  background-color: rgb(126, 59, 59);
}

.box {
  padding: 6%;
  background-color: #fff;
  border-radius: 20%;
}

.elem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16%;
  color: #000;
  font-weight: 500;
  font-size: 20px;
}
.elem h2 {
  font-weight: 500;
  font-size: 20px;
}
#pbtm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1%;
  padding: 1%;
  width: 100%;
  height: calc(100% - 12%);
  background-color: #608840;
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6%;
  height: 12%;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
}
.bubble:hover {
  cursor: pointer;
  background-color: red;
}
@media (max-width: 610px) {
  .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6%;
    width: 10%;
  }
  #ptop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 24px;
    width: 100%;
    height: 12%;
    background-color: rgb(126, 59, 59);
  }
}
