<div class="text-center">
  <h1>
    Frontend Mini Challenges&nbsp;
    <a href="https://github.com/sadanandpai/frontend-mini-challenges/">
      <img
        [ngStyle]="{
          width: '35px',
          height: '35px',
          verticalAlign: 'text-bottom'
        }"
        src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
        alt="github repo"
      />
    </a>
  </h1>

  <h4>Challenges built using Angular</h4>

  <a href="/frontend-mini-challenges/javascript"
    >Switch to JavaScript version</a
  >

  <app-challenges />
</div>
