.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(180deg, lavenderblush 0%, white 100%);
}

.navbar .logo {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  align-items: center;
}

.navbar .logo img {
  width: 40px;
  height: 40px;
}

.logo span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.navbar .links {
  display: none;
  gap: 2rem;
  align-items: center;
  margin-left: auto;
}

.navbar .github {
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
}

@media screen and (width >= 768px) {
  .navbar .links {
    display: flex;
  }
}
