@import url(../../core.css);

.container {
  transition: 0.25s;
}

.inner-container {
  margin: 1rem 0;
  padding: 2.5%;
  border: 1px solid blue;
}

body.dark,
#innnerThemeSwitch:checked + .inner-container,
body.dark #innnerThemeSwitch:checked + .inner-container {
  color: canvas;
  background-color: canvasText;
}

#innnerThemeSwitch + .inner-container,
body.dark #innnerThemeSwitch + .inner-container {
  color: canvasText;
  background-color: canvas;
}
