:host {
  display: block;

  --bg-challenge-card: #f9fafb;
  --bg-challenge-card-new: rgb(84, 84, 84);
  --text-challenge-card-new: white;
  --border-challenge-card: rgba(0, 0, 0, 0.15);
  --shadow-challenge-card: rgba(0 0 0 / 0.1);
  --shadow-challenge-card-scaled: rgba(0 0 0 / 0.25);
}

.challenge-card {
  display: block;
  position: relative;
  padding: 10px;
  overflow: hidden;
  background-color: var(--bg-challenge-card);
  border: 1px solid var(--border-challenge-card);
  border-radius: 0.25rem;
  box-shadow: 0 10px 15px -3px var(--shadow-challenge-card), 0 4px 6px -4px var(--shadow-challenge-card);
  transition: all 150ms ease-in-out;
  text-decoration: none;

  &:hover {
    box-shadow: 0 6px 8px 0 var(--shadow-challenge-card-scaled);
    transform: scale(1.05);
  }

  & .avatar-container > *:not(:first-child) {
    margin-top: 0.5rem;
  }

  & h3 {
    font-size: 1.25rem;
    font-weight: 500;
    color: green;
  }

  &.disabled h3 {
    color: grey;
  }

  &.disabled {
    cursor: not-allowed;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 10%);
  }

  &.disabled:hover {
    transform: scale(1);
  }

  & .new {
    display: inline-block;
    padding: 0.2rem;
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    color: var(--text-challenge-card-new);
    font-size: small;
    font-weight: 500;
    text-align: center;
    background-color: var(--bg-challenge-card-new);
  }

  & .developer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: var(--text-body);

    & > img {
      width: 25px;
      height: 25px;
      margin-right: 0.5rem;
      border-radius: 50%;
    }
  }

  & .name {
    color: black;
  }

  &.medium h3 {
    color: rgb(75 75 255);
  }

  &.hard h3 {
    color: orangered;
  }
}
