body {
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}
