.game {
  height: auto;
  margin-bottom: 2rem;
}
.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cell {
  display: flex;
  border: 1px solid lightseagreen;
  height: 10rem;
  width: 25rem;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.scoreBoard {
  border: 2px solid lightseagreen;
  width: 20rem;
  height: 10rem;
  text-align: center;
  margin: 2rem auto;
}

.score {
  display: inline-block;
  font-size: larger;
  font-weight: bold;
  margin-right: 0.2rem;
  border: 0.5px solid black;
  width: 4rem;
}
