@import url(../../core.css);

#board {
  height: 300px;
  width: 300px;
  border: 3px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  #board {
    height: 500px;
    width: 500px;
  }
}

#board div {
  display: flex;
  flex-grow: 1;
}

.box {
  border: 1.5px solid whitesmoke;
}

.shake {
  animation: shake 0.8s infinite;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-8px);
  }

  20%,
  40%,
  60%,
  80%,
  100% {
    transform: translateX(8px);
  }
}
