/*styles.css*/

body {
    background: #333 url(img/food8.jpeg) center center no-repeat;
    background-size: cover;
    color:#532827;
}

#container{
    width: 400px;
    margin: 40px auto 0;
    padding: 50px;
    box-sizing: border-box;
    background: url(img/paper-pattern.jpg)top left repeat;
    box-shadow: 0 10px 15px -8px #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}

h1{
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: solid 1px #ddd;
    
}

form{
    text-align: left;
}

form label{
    display: block;
    margin:25px 0;
    font-weight: bold;
}

form input,
form select{
    padding: 8px;
    margin: 10px 0;
}

form input[type="text"]{
    width: 90px;
}

button{
    background: #6c2726;
    color: white;
    border-bottom:solid 4px #222;
    text-transform: uppercase;
    font-size: 18px;
    padding: 20px 30px;
    width: 100%;
}

bottom:hover{
    background:#4c2827;
    border-bottom-color: #111;
}

button:active{

    position: relative;
    top: 3px;
}

#totalTip{

    font-size: 50px;
    margin-top: 40px;
}

#totalTip:before{

    content: "Tip amount";
    font-size: 14px;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

#totalTip sup{

   font-size: 24px;
   top: -18px;
}

#totalTip small{

    font-size: 14px;
    font-weight: bold;
    display: block;
}
