.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}
