.leaderBoardTableData {
  border-top-style: hidden;
  border-bottom-style: hidden;
  text-align: center;
}

.leaderBoardBorderBottomStyle {
  text-align: center;
  border-bottom-style: hidden;
}

.leaderBoardContributorImg,
.userProfileImg {
  width: 80px;
  height: 80px;
  border: 2px solid orange;
  border-radius: 50%;
  margin-right: 20px;
}

.userProfileImg {
  width: 160px;
  height: 160px;
}

.leaderBoardContributorNameTd {
  display: flex;
  align-items: center;
  gap: 10px;
}

.leaderBoardHeading,
.userProfileHeading {
  margin-bottom: 3rem;
  text-align: center;
}

.profileDetailsContainer {
  display: flex;
}

.profileLink {
  display: flex;
  align-items: center;
}

.fontWeightNormal {
  font-weight: 300;
}

.contributionTableCell {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* max-width: 200px; */
}

.contributionTableCell div:last-of-type {
  grid-column-end: -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div:first-of-type {
    font-weight: 600;
  }
}

.contributionDivTitle {
  
}