* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #d6bcff;
}
.container {
  width: 90%;
  margin: auto;
  padding-top: 3%;
}
.title {
  text-align: center;
  color: #6f3cff;
  font-size: 30px;
}
.bill-container {
  margin: auto;
  margin-top: 50px;
  display: flex;
  padding: 38px;
  background-color: #fff;
  justify-content: space-between;
  border-radius: 10px;
  max-width: 700px;
  gap: 20px;
}
.left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input-container > label {
  color: #6f3cff;
  font-size: 20px;
}
.amount-container {
  display: flex;
  width: 100%;
  height: 35px;
  padding: 10px;
  align-items: center;
  background-color: #ccc;
  font-size: 20px;
  gap: 10px;
  color: #6f3cff;
}
.amount-container > input {
  border: none;
  outline: none;
  width: 100%;
  height: 30px;
  background-color: transparent;
  font-size: 20px;
  color: #6f3cff;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.tip-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.tip-container > label {
  color: #6f3cff;
  font-size: 20px;
}
.btn-tip {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(65px, 1fr));
  gap: 15px;
}

.customTip {
  width: 100%;
}
.customTip > input {
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: #ccc;
  color: #6f3cff;
}
.btn {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  cursor: not-allowed;
}
.btn.true {
  background-color: #9c60ff;
  cursor: pointer;
}
.btn.active {
  background-color: #9c60ff;
  border: 3px solid #4200ff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.people-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.people-container > label {
  color: #6f3cff;
  font-size: 20px;
}
.people-container > input {
  width: 100%;
  height: 35px;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: #ccc;
  color: #6f3cff;
}
.generate {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 15px;
  border-radius: 7px;
  cursor: not-allowed;
  color: white;
}
.generate.active {
  background-color: #9c60ff;
  cursor: pointer;
}
.right {
  background: #9c60ff;
  width: 100%;
  display: flex;
  margin: 30px 0 20px 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  border-radius: 10px;
}
.total-amount {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tip-amount {
  display: flex;
  justify-content: space-between;
}
.tip-amount > h4 {
  font-size: 16px;
  color: #fff;
}
.tip-amount > span {
  font-size: 25px;
  color: #c39fff;
  font-weight: 700;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total > h4 {
  font-size: 16px;
  color: #fff;
}
.total > span {
  font-size: 25px;
  color: #c39fff;
  font-weight: 700;
}
#reset {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #c39fff;
  font-size: 16px;
  color: #9c60ff;
  width: 100%;
  cursor: not-allowed;
}
#reset.active {
  background-color: #ffffff;
  color: #9c60ff;
  cursor: pointer;
}
