.challengeGrid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 2rem 0;
}

.challengeCard {
  padding: 10px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;

  &:hover {
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
  }

  h3 {
    color: green;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &.disabled h3 {
    color: grey;
  }

  &.disabled {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    cursor: not-allowed;
  }

  &.disabled:hover {
    transform: scale(1);
  }

  a {
    color: chocolate;
    text-decoration: none;
  }

  .new {
    position: absolute;
    top: 0;
    right: 0;
    width: 4rem;
    color: white;
    font-size: 1rem;
    text-align: center;
    background-color: rgb(84, 84, 84);
  }

  .developer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.8rem;
  }

  img {
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin-right: 0.5rem;
  }

  .name {
    color: black;
  }

  &.medium h3 {
    color: rgb(75, 75, 255);
  }

  &.hard h3 {
    color: orangered;
  }
}
