* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    margin: 0 auto;
}
.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
}
.top_section h4 {
    font-size: 30px;
    text-align:end;
}


.image_container,
img {
    width: 300px;
    height: 320px;
}
.about_section h2 {
    margin-top: 50px;
}
.about_section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.biography_section {
    margin: 50px 0;
}
.biography_section ul{
    margin-left: 50px;
}
.biography_section li {
    margin-bottom: 15px;
}
footer p {
    text-align: end;
}