html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .container {
    width: 50%;
  }
}

.list-container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.list-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.no-elments {
  display: none;
}

.list-container:empty + .no-elments {
  display: block;
}

.list-container button {
  background: wheat;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.hide-smooth {
  animation: disappear 0.5s ease-in forwards;
}

@keyframes disappear {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
    padding: 0;
    transform: translate(200%);
  }
}
