@import url(../../helpers/core.css);

form {
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

input,
select {
  padding: 0.5em;
  font-size: 1rem;
}

#message {
  min-width: 25ch;
}

[for='duration'] {
  align-items: center;
}

.toast-container {
  position: fixed;
  flex-direction: column;
  gap: 0.5rem;
}

.tc-left-top {
  top: 1rem;
  left: 1rem;
}

.tc-left-bottom {
  bottom: 1rem;
  left: 1rem;
}

.tc-right-top {
  top: 1rem;
  right: 1rem;
}

.tc-right-bottom {
  right: 1rem;
  bottom: 1rem;
}

.toast {
  padding: 0.5em;
  background-color: pink;
  border-radius: 0.25rem;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.toast.success {
  background-color: #00b300;
}

.toast.error {
  background-color: #ff0000;
}

.toast.warning {
  background-color: #ffa500;
}

.toast.info {
  background-color: lightyellow;
}

.toast::before {
  min-width: 1rem;
  padding: 0.1em 0.5em;
  font-weight: bold;
  font-size: 0.85em;
}

.toast.success::before {
  content: '✓';
}

.toast.error::before {
  content: '✗';
}

.toast.warning::before {
  content: '⚠';
}

.toast.info::before {
  content: 'ⓘ';
}

.remove {
  all: unset;
  margin-left: 1em;
  cursor: pointer;
}

.tc-left-top .toast,
.tc-left-bottom .toast {
  animation: appearFromLeft 0.1s ease-in forwards;
}

.tc-left-top .toast.fade-out-left,
.tc-left-bottom .toast.fade-out-left {
  animation: fadeOutToLeft 0.1s ease-in forwards;
}

@keyframes appearFromLeft {
  0% {
    transform: translate(-200%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeOutToLeft {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-200%, 0);
  }
}

.tc-right-top .toast,
.tc-right-bottom .toast {
  animation: appearFromRight 0.1s ease-in forwards;
}

.tc-right-top .toast.fade-out-right,
.tc-right-bottom .toast.fade-out-right {
  animation: fadeOutToRight 0.1s ease-in forwards;
}

@keyframes appearFromRight {
  0% {
    transform: translate(200%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeOutToRight {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(200%, 0);
  }
}
