.loader {
  width: 60px;
  height: 60px;
  margin: 1rem auto;
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.book-title {
  padding: 2em;
  margin: 2em 0;
  text-align: center;
  border: 1px solid black;
  border-radius: 6px;
}
