.contributors {
  margin: 4rem 0;
  text-align: center;

  &Title {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: var(--text-primary);
  }

  &Grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 1.8rem;
    margin-bottom: 2rem;
  }

  &Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .contributorsCardImg {
      width: 75px;
      height: 75px;
      padding: 2px;
      margin-bottom: 0.5rem;
      object-fit: cover;
      border: 2px solid var(--primary-color);
      border-radius: 50%;
    }

    span {
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
      color: var(--text-secondary);
      white-space: nowrap;
    }
  }

  &Link {
    display: inline-block;
    margin-top: 1rem;
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: none;
    transition: opacity 0.3s ease;

    &:hover {
      text-decoration: underline;
      opacity: 0.8;
    }
  }
}

@media (width <= 768px) {
  .contributors {
    &Grid {
      grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
      gap: 1rem;
    }

    &Card {
      .contributorsCardImg {
        width: 50px;
        height: 50px;
      }
    }
  }
}
