:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  text-align: center;
}

.input-field {
  padding: 0.6rem 3rem;
}

.quote {
  font-size: 20px;
  font-weight: bold;
  margin: 1rem 0;
}
.author {
  text-decoration: underline;
  text-underline-offset: 5px;
  margin: 1rem 0;
}

.generate-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: all 0.25s;
}
.generate-button:hover {
  background-color: #646cff;
}
