.button {
  background: var(--color-accent);
  border: none;
  border-radius: var(--round-borders);
  box-shadow: .5rem .5rem 1rem var(--color-shadow);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;

  &--s {
    padding: .5em 1em;
  }

  &--m {
    padding: .5em 2em;
  }

  &--l {
    padding: .5em 4em;
  }
}

.button--add__fixed {
  box-shadow: 
    0 3px 6px var(--color-shadow),
    -2px -1px 8px 1px hsl(0, 0, 100%);
  border-radius: 50%;
  bottom: 1rem;
  font-size: 3em;
  padding: .5rem 1rem;
  position: fixed;
  right: 5%;
  transition: transform .3s ease-in-out;
  z-index: 999;

  &:hover {
    transform: scale(1.1);
  }
}

.button:active {
  box-shadow: .25rem .25rem 1rem var(--color-shadow);
  transform: scale(.98);
}

.button-remove {
  background: var(--color-txt-main);
  margin-right: .5rem;
}