.start-screen,
.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

#start-button,
#restart {
  font-size: 1.3em;
  padding: 0.5em 1.8em;
  border-radius: 0.2em;
}

#restart {
  margin-top: 0.9em;
}

#display-container {
  background-color: #ffffff;
  padding: 3.1em 1.8em;
  width: 80%;
  max-width: 37.5em;
  margin: 0 auto;
  border-radius: 0.6em;
}

.header {
  margin-bottom: 1.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.6em;
  border-bottom: 0.1em solid #c0bfd2;
}

.timer-div {
  background-color: #e1f5fe;
  width: 7.5em;
  border-radius: 1.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em 1.8em;
}

.question {
  margin-bottom: 1.25em;
  font-weight: 600;
}

.option-div {
  font-size: 0.9em;
  width: 100%;
  padding: 1em;
  margin: 0.3em 0;
  text-align: left;
  outline: none;
  background: transparent;
  border: 1px solid #c0bfd2;
  border-radius: 0.3em;
}

.option-div:disabled {
  color: #000000;
  cursor: not-allowed;
}

#next-button {
  display: block;
  font-size: 1em;
  margin-top: 1.5em;
  margin-left: auto;
  background-color: #0a69ed;
  color: #ffffff;
  padding: 0.7em 1.8em;
  border-radius: 0.3em;
}

.hide {
  display: none;
}

.incorrect {
  background-color: #ffdde0;
  color: #d32f2f;
  border-color: #d32f2f;
}

.correct {
  background-color: #e7f6d5;
  color: #689f38;
  border-color: #689f38;
}

#user-score {
  font-size: 1.5em;
  color: #ffffff;
}
