.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: 1px dashed purple;
  background-color: cyan;
}

.list-item img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #f0f0f0;
}

.GridItemEven , .GridItemOdd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridItemEven {
  background-color: cyan;
}