.feedbackContainer {
  display: flex;
  background-color: white;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.feedbackBtn {
  height: 30px;
  width: 100px;
  background-color: rgb(171, 95, 196);
  border: 0;
  border-radius: 5px;
}

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.iconContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 15px 5px;
}

.iconItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px 0;
  cursor: pointer;
  padding: 5px;
  width: 60px;
  height: 60px;
  margin: 10px 1px;
}

.iconItem:hover {
  background-color: darkgray;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease;
}

.active {
  background-color: rgb(188, 162, 213);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.iconImage {
  width: 40px;
  height: 40px;
}

.iconItem p {
  font-size: small;
  color: rgba(0, 0, 0, 0.7);
}

.modalClose {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  background: none;
  border: none;
}

.modal-content h1 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  font-size: 25px;
  position: absolute;
  top: 35px;
}

.feedbackContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedbackResponse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: 1px solid grey;
  height: 120px;
  width: 250px;
  background-color: rgb(188, 162, 213, 0.3);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}
