@import url(../../helpers/core.css);

body {
  background-color: black;
}

#canvas-container {
  margin: 0 auto;
  text-align: center;
}

#header-container {
  text-align: center;
  font-size: 40px;
  color: white;
}

#score-container {
  text-align: center;
  font-size: 24px;
  color: white;
  padding: 10px;
}
