.App {
  font-family: sans-serif;
  text-align: center;
}
.accordion {
  width: 95%;
  border: 1px solid rgb(218, 212, 212);
  padding: 10px;
  font-size: 14px;
  text-align: left;
  margin-bottom: 10px;
}
.accordion-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion-icon {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: rgb(209, 209, 209);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}
