/* import navbar.css */
@import url(./navbar.css);

.challenge-grid {
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin: 2rem 0;
}

h1 {
  align-items: center;
  justify-content: center;
}

a img {
  width: 35px;
  height: 35px;
  vertical-align: text-bottom;
}

.challenge-card {
  padding: 10px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.2s ease-in-out;
}

.challenge-card:hover {
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.3);
  transform: scale(1.05);
}

.challenge-card.disabled h3 {
  color: grey;
}

.challenge-card.disabled {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
}

.challenge-card.disabled:hover {
  transform: scale(1);
}

.challenge-card.medium h3 {
  color: rgb(75, 75, 255);
}

.challenge-card.hard h3 {
  color: orangered;
}

.challenge-card h3 {
  color: green;
  font-size: 1.25rem;
  font-weight: 500;
}

.challenge-card a {
  color: green;
  text-decoration: none;
}

.challenge-card .new {
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  color: white;
  font-size: 1rem;
  text-align: center;
  background-color: rgb(84, 84, 84);
}

.developer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 0.8rem;
}

.developer-img {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin-right: 0.5rem;
}

.hidden {
  display: none;
}


:root {
    --bg: rgb(120, 122, 125);
    --bg-input: #141419;
}


:root{
    --bg:rgb(56, 77, 148);
   
    --bg-input: #e1e1ed;
}


/* light mode edited */

.light-mode {
    --bg: linear-gradient(to left, #000000, #1a1c1e);
    --bg-input: #fcf9f9;
}

body {
    background: var(--bg);
    color: var(--color-text);
    /*font-weight: 500;
    display: flex;*/
}

.switch {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.switch+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    user-select: none;
}

.switch+label {
    padding: 2px;
    width: 52px;
    height: 27px;
    background-color: var(--color-border), rgba(0, 0, 0, 0.3);
    border-radius: 100px;
}

.switch+label:before,
.switch+label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

.switch+label:before {
    right: 1px;
    background-color: var(--bg-input);
    border-radius: 60px;
    transition: all 0.4s;
}

.switch+label:after {
    width: 30px;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.switch:checked+label:before {
    background-color: #f3eff5;
}

.switch:checked+label:after {
    transform: translateX(30px);
}

a {
  
  color: rgb(40, 59, 117);
}

