@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

.container {
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.btn.btn-primary {
  padding: 10px 16px;
  background-color: cyan;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary.small {
  padding: 4px 6px;
}

input:disabled,
button:disabled,
button.btn:disabled,
.btn.btn-primary:disabled {
  cursor: not-allowed;
}

.disabled {
  color: grey;
  cursor: not-allowed;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.github-img {
  width: 35px;
  height: 35px;
  vertical-align: text-bottom;
}

.navbar-app {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 16px;
  background: linear-gradient(180deg, lavenderblush 0%, white 100%);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 10%);
}

.navbar-app .left {
  all: unset;
  display: flex;
  flex: 1;
  gap: 0.5rem;
  align-items: center;
}
.navbar-app .left .back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  color: black;
  transform: scaleY(2);
}

.navbar-app .left .logo {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  align-items: center;
}
.navbar-app .left .logo img {
  width: 40px;
  height: 40px;
}

.navbar-app .left .logo span {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000;
}

.navbar-app h1 {
  margin: 0;
}

.navbar-app .right {
  all: unset;
  flex: 1;
  text-align: right;
}

.navbar-app .right .github {
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
  margin-left: 1rem;
}
