.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-dahi {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 6px 8px;
}

.inline-options {
  display: inline-flex;
  border-radius: 8px;
  padding: 3px;
  background: #fff;
  color: #5B5E64;
  user-select: none;
  border: 1px solid #DCD5C8;
  font-size: 14px;
}

.option {
  position: relative;
  cursor: pointer;
  padding: 4px 6px;
  border-radius: 4px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option::after {
  content: "";
  position: absolute;
  top: 5px;
  bottom: 5px;
  right: -1px;
  width: .5px;
  background: #CAC0AD;
}

.option:last-child::after {
  visibility: hidden;
}

.option-selected {
  color: #fff;
  background: #6A604F;
}

.option-selected::after {
  visibility: hidden;
}

.option-disabled {
  color: #bfbdbd;
  cursor: default;
}