@import url(../../core.css);

body {
  transition: 0.25s;
  padding: 1rem
}

.container {
  padding: 0 2.5%;
}

.inner-container {
  padding: 2.5%;
  border: 1px solid blue;
}

body.dark,
#innnerThemeSwitch:checked + .inner-container,
body.dark #innnerThemeSwitch:checked + .inner-container {
  color: canvas;
  background-color: canvasText;
}

#innnerThemeSwitch + .inner-container,
body.dark #innnerThemeSwitch + .inner-container {
  color: canvasText;
  background-color: canvas;
}
