:root {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}

.dark-theme {
  --clr-bcg: #282c35;
  --clr-font: #fff;
  --clr-primary: #ffa7c4;
}
.light-theme {
  --clr-bcg: #fff;
  --clr-font: #282c35;
  --clr-primary: #d23669;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--clr-bcg);
  padding: 10px;
  transition: 0.3s linear;
}
h1 {
  color: var(--clr-font);
}
button {
  margin-top: 10px;
  color: var(--clr-font);
  background-color: var(--clr-primary);
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
