.segment {
  display: flex;
  grid-column: -2;
  justify-self: flex-end;
  width: 70%;
}

.segmentBtn {
  width: 50%;
  color: var(--text-primary);
  text-transform: capitalize;
  background-color: var(--shadow-footer);
  border: none;

  &[data-active='true'] {
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    background-color: rgb(75 75 255);
    border: none;
    border-radius: 5px;
  }
}
