:root {
    --font-m: 16px;
    /* Set the base font size, adjust this as needed */
}

.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.meal_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 1rem 1.3rem;
    margin-top: 3rem;
    background-color: #9fa732;
    border: 0.2rem solid black;
}

.meal_name {
    text-align: center;
    font-size: 1.6rem;
}

.meal_img {
    width: 100%;
    height: 300px;
}

.tags_container,
.modal_tags_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 1rem;
    font-size: 1.2rem;
    padding-inline-start: 0px;
}

.tag,
.modal_tag {
    padding: 0.4rem 0.7rem;
    background-color: rgb(226, 176, 68);
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.tag:hover,
.modal_tag:hover {
    background-color: rgb(0, 153, 153);
    color: #ececec;
}

dialog {
    width: 70%;
    top: 3%;
}

.modal_meal_img {
    width: 100%;
    height: 350px;
}

.modal_instruction {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.foodBtn,
.openBtn {
    padding: 0.4rem 0.9rem;
    background-color: #fff;
    font-size: 1.3rem;
    border: 0.2rem solid black;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.foodBtn:hover,
.openBtn:hover {
    background-color: #eee;
}

.foodBtn:active,
.openBtn:active {
    background-color: #ddd;
}

.closeBtn {
    position: absolute;
    top: -1.3rem;
    right: -1.3rem;
    background-color: rgb(223, 72, 72);
    color: #fff;
    font-weight: 700;
    border-radius: 50%;
    padding: 0rem 0.6rem;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.closeBtn:hover {
    background-color: rgb(199, 64, 64);
}

.closeBtn:active {
    background-color: rgb(175, 55, 55);
}

.openBtn {
    margin-top: 2rem;
    font-size: 1.1rem;
}


/* modal dialog table */

.recipe_table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.8rem auto;
    font-size: 1rem;
}

.recipe_table th,
.recipe_table td {
    height: 3.12rem;
    text-align: left;
    padding-left: 1.25rem;
}

.recipe_table th {
    background-color: #9fa732;
    color: #fff;
}

.recipe_table tr:nth-child(even) {
    background-color: #f9ffa3;
}

/* Responsive for mobile and tablet */
@media screen and (max-width: 768px) {
    .meal_container {
        width: 88%;
        padding: 0.5rem;
    }

    dialog {
        width: 88%;
    }

    .meal_name {
        font-size: 1.4rem;
    }

    .meal_img {
        height: 200px;
    }

    .tags_container,
    .modal_tags_container {
        font-size: 1rem;
    }

    .modal_meal_img {
        height: 250px;
    }

    .modal_instruction {
        font-size: 1rem;
        line-height: 1.4rem;
    }

    .foodBtn,
    .openBtn {
        font-size: 1.1rem;
    }

    .closeBtn {
        top: -0.5rem;
        right: -0.5rem;
        font-size: 1.5rem;
    }

    th,
    td {
        height: 40px;
        padding-left: 10px;
    }
}

@media screen and (min-width: 1300px) {
    .meal_container {
        width: 40%;
    }

    dialog {
        width: 60%;
    }
}

@media screen and (min-width: 1700px) {
    .meal_container {
        width: 35%;
    }

    dialog {
        width: 55%;
    }
}