@import url(../../core.css);

* {
  box-sizing: border-box;
}

.board {
  height: 320px;
  width: 320px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: auto;
}

.board div {
  display: flex;
  flex-grow: 1;
}

.board div:nth-child(even) div:nth-child(odd) {
  background-color: black;
}

.board div:nth-child(odd) div:nth-child(even) {
  background-color: black;
}

.board div div.box.selected {
  background-color: red;
}
