
.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000000;
}

input,
button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

.options button {
    margin-top: 20px;
}
