@import url(../../core.css);

.grid {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.row {
  display: flex;
}

.box {
  outline: 1px solid grey;
  height: 60px;
  width: 60px;
}