@import url(../../helpers/core.css);

.container {
  min-height: calc(100vh - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.container .text {
  position: relative;
  color: #32043d;
  font-size: 50px;
  font-weight: 600;
}

.container .text.first-text {
  color: #b8e3ea;
}

.text.second-text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  border-left: 2px solid #32043d;
  animation: animate 4s steps(10) infinite;
}

@keyframes animate {
  40%,
  60% {
    left: calc(100% + 4px);
  }

  100% {
    left: 0;
  }
}

@media screen and (max-width: 480px) {
  .container {
    margin-left: 30px;
  }
}
