.AppContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.trafficWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  width: 8rem;
  padding: 30px;
  background: black;
  border-radius: 25px;
}

.light {
  width: 5rem;
  height: 5rem;
  background: gray;
  border-radius: 50%;
}

.countdownTime {
  font-size: 18px;
  font-weight: bold;
}
