.containerWrapper {
  width: 100%;
  height: 100%;
  background-color: var(--bg-body);
  color: var(--text-body);
  padding-block-end: 1rem;
}

.container {
  max-width: min(90%, 1200px);
  margin: 0 auto;
}

.hr {
  margin: 3rem 0;
  border: none;
  border-top: 1px solid lightgray;
}
