/* src/styles.module.css */
.Sport {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 10rem;
  background-color: #f0f0f0;
}

.my-container {
  display: flex !important;
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  justify-content: center !important;
  font-size: 32px;
}

.question {
  font-size: 20px;
  margin: 20px 0;
  color: #333;
  margin-bottom: 2rem;
}

.answers {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

button {
  margin-right: 2rem;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button.start-over {
  background-color: #ff5050;
}

button.start-over:hover {
  background-color: #e63939;
}
