@import url(../../helpers/core.css);

.container {
  max-width: 600px;
  background-color: #e9b3ff;
  padding: 30px;

  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  text-align: center;
}

.container h1 {
  color: #70068e;
  font-weight: bolder;
  font-size: 2.5rem;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
}

.form {
  margin-top: 20px;
}

label {
  font-weight: bold;
  color: #70068e;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  background-color: #f0d6fa;
  border: 1px solid #70068e;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

button {
  background-color: #70068e;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover {
  background-color: #b745d6;
  color: white;
}

.story {
  border: 1px solid #70068e;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: semi-bold;
  font-size: 18px;
  color: #76019a;
}

.buttons {
  margin-top: 20px;
  background-color: #70068e;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.buttons:hover {
  background-color: #b745d6;
  color: white;
}
