.App{
    width: 50%;
    margin: auto;     
    form{
        margin-top: 10px;
        width:100%;
        input{
            width:100%;
            height:80%;
            border-radius: 6px;
        }
        button{
            margin-top: 10px;
         background-color: blue;
         border-radius: 6px;
         color: white;
   }
}
   .dis{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    border: none;
   }

}
