.mobile {
  display: none;
}

.challenge-navbar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 10%);

  .left {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    align-items: center;

    .back {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      color: black;
      transform: scaleY(2);
    }

    .logo {
      height: 40px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  h1 {
    margin: 0;
    color: var(--text-body);
    font-weight: 500;
  }

  .right {
    flex: 1;

    input {
      display: none;
    }

    img {
      width: 30px;
      height: 30px;
    }

    .menu {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        gap: 1rem;
      }
    }

    .responsive_nav {
      display: flex;
      align-items: center;
      justify-content: end;
    }
  }
}

@media (max-width: 640px) {
  .mobile {
    display: block;
  }

  .challenge-navbar {
    padding: 1rem 1rem 1rem 0.5rem;

    .logo {
      display: none;
    }

    h1 {
      font-size: 1.25rem;
    }
  }

  .right {
    .responsive_nav {
      display: block;
      position: relative;
      margin-left: 2rem;
    }

    .hamburger {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      gap: 0.25rem;

      input {
        display: block;
        width: 1.5rem;
        height: 1.5rem;
        opacity: 0;
        position: absolute;
        z-index: 3;
        margin: 0;
        cursor: pointer;
      }

      div.line {
        height: 2px;
        width: 1.25rem;
        background-color: #0e0615;
        border-radius: 7px;
        transform-origin: 4px 0px;
        position: relative;
        z-index: 2;
      }

      div.cross {
        transform: scale(1.4);
        margin-right: 0.25rem;
        z-index: 2;
      }

      input:not(:checked) ~ div.line {
        display: block;
      }

      input:not(:checked) ~ div.cross {
        display: none;
      }

      input:checked ~ div.line {
        display: none;
      }

      input:checked ~ div.cross {
        display: block;
      }
    }

    .menu {
      position: fixed;
      top: 0;
      right: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      background-color: #ffffff;
      padding: 2rem;
      transform: translateX(100%);
      transition: transform 0.33s ease-in-out;
      padding-top: 6rem;
      z-index: 1;
    }

    .hamburger input:checked ~ .menu {
      transform: none;
    }
  }
}
