<nav class="challenge-navbar">
  <div class="left">
    <a href="#" class="back"> &lt; </a>
    <a href="#" class="logo">
      <img src="" alt="logo" />
    </a>
  </div>

  <h1 class="title"></h1>

  <div class="right">
    <div class="responsive_nav">
      <div class="hamburger">
        <input type="checkbox" />
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="cross mobile">&#x2715;</div>

        <section class="menu">
          <a href="#" target="_blank" rel="noreferrer" class="source-code" title="Source Code">
            <img src="" alt="source code" />
            <span class="mobile">Source code</span>
          </a>
          <a href="#" target="_blank" rel="noreferrer" class="youtube" title="Youtube">
            <img src="" alt="youtube" />
            <span class="mobile">Youtube</span>
          </a>
          <a
            href="https://github.com/sadanandpai/frontend-mini-challenges/"
            target="blank"
            class="github"
            title="Github Repo"
          >
            <img src="" alt="github repo" />
            <span class="mobile">Github Repo</span>
          </a>
        </section>
      </div>
    </div>
  </div>
</nav>
