@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

a {
  text-decoration: none;
  color: blue;
}

.container {
  width: 90%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.btn.btn-primary {
  padding: 10px 16px;
  background-color: #5affd8;
  border: 1px solid grey;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-primary.small {
  padding: 4px 6px;
}

button:disabled,
button.btn:disabled {
  cursor: not-allowed;
}

.disabled {
  color: grey;
  cursor: not-allowed;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.github-img {
  width: 35px;
  height: 35px;
  vertical-align: text-bottom;
}

.global-nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 1rem;
}

.global-nav::after {
  content: '';
  position: absolute;
  width: 110%;
  bottom: 10px;
  left: -5%;
  box-shadow: 0 5px 0 2px grey;
}
