.main {
  width: 90%;
  margin: 2rem auto 0;
  text-align: center;

  .indicators {
    display: flex;
    justify-content: space-between;
    width: 20rem;
    margin: 0.5rem auto 1rem;
    font-size: 0.8rem;
    color: lightgrey;
  }

  .active {
    color: green;
  }

  .progressContainer {
    position: relative;
    width: 20rem;
    height: 0.6rem;
    margin: auto;
    border-radius: 8px;
    outline: 1px solid #ccc;
  }

  .progressBar {
    width: 0%;
    height: 100%;
    background: red;
    transition: all 0.25s ease-in-out;
  }

  input {
    width: 20rem;
    font-size: 1.5rem;
  }
}
