.layout {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;

  button {
    padding: 0.25rem;
    border-radius: 4px;
  }
}

.holder {
  display: flex;
  height: calc(100dvh - 9rem);

  .hourLabels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 8ch;
    margin-right: 1rem;
  }

  .day {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100% - 1rem);
    margin-top: 0.5rem;
    border-bottom: 1px solid #ccc;

    .hourSlot {
      border-top: 1px solid #ccc;
    }

    .meetings {
      display: flex;
      justify-content: flex-end;
    }

    .meeting {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 4px;
      padding: 4px;
      overflow: hidden;
      font-size: small;
      outline: 1px solid white;
      background-color: rgb(134, 198, 219);
      border: 1px solid gray;
      border-radius: 4px;
      opacity: 0.8;
      transition: background-color 0.5s;

      span:first-child {
        font-weight: bold;
      }

      &:focus {
        z-index: 1;
        background-color: rgb(57, 196, 243);
      }
    }
  }
}

@media (width > 768px) {
  .holder .day .meeting {
    font-size: medium;
  }
}

@media (width > 1200px) {
  .holder .day .meeting {
    font-size: large;
  }
}
