.app{
    display: flex;
    flex-direction: column;
    max-width: 10%;
    margin:10px auto;
    
}
.app input{
    text-align: center;
    height: 30px;
}
.app .widget{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}
.app .text p{
    text-align: center;
}