.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--bg-navbar);
  box-shadow:
    0 1px 3px 0 var(--shadow-navbar),
    0 1px 2px -1px var(--shadow-navbar);
  transition: all 150ms ease-in-out;

  --icon-container-size: 26px;
  --github-svg-size: 26px;

  .logo {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    img {
      width: var(--icon-container-size);
      height: var(--icon-container-size);
    }

    span {
      color: var(--text-body);
      text-align: center;
      font-weight: 500;
      font-size: 1rem;
    }
  }

  .heading {
    color: var(--text-body);
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .right {
    display: flex;
    gap: 1rem;
  }

  .links {
    display: none;
  }

  .github {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--icon-container-size);
    height: var(--icon-container-size);
    color: var(--text-body);
  }

  .github > svg {
    width: var(--github-svg-size);
    height: var(--github-svg-size);
  }
  .hamburger {
    display: none;

    button {
      border: none;
      background: transparent;
    }
  }

  @media screen and (max-width: 768px) {
    .github {
      display: none;
    }

    .themeButton {
      display: none;
    }

    .hamburger {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--icon-container-size);
      height: var(--icon-container-size);
      color: var(--text-body);
    }

    .hamburger > svg {
      width: var(--github-svg-size);
      height: var(--github-svg-size);
    }
  }
}

@media screen and (width >= 768px) {
  .navbar {
    --icon-container-size: 40px;
    --github-svg-size: 30px;

    .links {
      display: flex;
      gap: 2rem;
      align-items: center;
    }

    .logo > span {
      font-size: 1.2rem;
    }
  }
}
.right:first-child {
  display: flex;
}

.drawerContent {
  padding: 1rem;
}

.drawerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drawerListItem {
  margin-bottom: 1rem;
}
.ant-drawer-close {
  justify-content: flex-end;
  padding-left: 50px;
  margin-left: 500px;
}
.ant-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ant-drawer-title {
    justify-content: flex-start;
  }

  .ant-drawer-close {
    justify-content: flex-end;
  }
}

.themeButton {
  border: none;
  color: var(--text-link);
  background-color: inherit;
}
