.drawerContent {
  @apply p-4;
}

.drawerList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.drawerListItem {
  margin-bottom: 1rem;
}
.ant-drawer-close {
  justify-content: flex-end;
  padding-left: 50px;
  margin-left: 500px;
}
.ant-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .ant-drawer-title {
    justify-content: flex-start;
  }

  .ant-drawer-close {
    justify-content: flex-end;
  }
}

.themeButton {
  border: none;
  color: var(--text-link);
  background-color: inherit;
}
